body{
    font-family: 'Roboto', sans-serif;
}
.header_section{
    background-image: url(images/header.jpg);
    background-repeat: repeat-y;
    width: 100vh;
    background-color: #cccccc;
    height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 

    
}