body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

.header_section {
    background-image: linear-gradient(rgb(232, 232, 240), rgb(241, 241, 234)), url(images/header.jpg);




}